*{
  box-sizing: border-box;
}

.extension-main {
  padding: 10px;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 1rem;
}

.extension-header{
  font-size: 2rem;
  font-weight: 700;
}

.extension-section{
  width:100%; 
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 8px;
}
#ownerNameSpan, #selectedRepoSpan{
  font-size: 1rem;
  font-weight: 500;
}

.extension-section-title{
  font-size:1rem;
  font-weight:500;
  margin: 0;
  padding: 0;
}

.extension-ul{
  width:100%;
  list-style: none;
  font-size: 1rem;
}
.extension-li{
  padding: 4px;
}
.extension-li:hover{
  color:blue;
}

.user-p{
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

.extension-footer{
  border-top: 1px solid #aaaaaa;
  width:100%;
  margin: 20px 0px;
  padding: 20px 20px 10px;
  font-size: 0.8rem;
  display:flex;
  justify-content: space-between;
}

.highlighted{
  color: #00bbaa
 }

 /* button, input 스타일 */
 .extension-textarea {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  border: 1px solid #aaaaaa
}
.extension-button{
  width: 100%;
  height: 32px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
}
.extension-goto{
  color: white;
  text-decoration: none;
  background-color: #999999;
  padding: 8px;
  border-radius: 8px
}
#login, #submitPost{
  background-color: #00bbaa
}
#logout{
  background-color: #fa4D79
}